.card-img-top {
  height: 350px;
}
.cardHeader {
  height: 400px;
  width: 98%;
  margin: auto;
}
.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 31.333333%;
  margin: 5px;
}

span {
  font-size: 11px;
  color: #3f2f8e;
  cursor: pointer;
}
